
<ion-content [fullscreen]="true" class="login-content">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div class="login-section">
    <ion-card class="login-card" style="background-color: white;">
      <h2 style="color: black;">Login</h2>
      <ion-card-content>
          <ion-input placeholder="Username" style="border-radius: 50px; background-color: white; color: black; border: 2px solid #007dff; width: 300px; margin-bottom: 1em;"></ion-input>
          <ion-input type="password" placeholder="Password" style="border-radius: 50px; background-color: white; color: black; border: 2px solid #007dff;"></ion-input>
        <ion-button style="border-radius: 50px;" href="/tabs" class="custom-button">Masuk</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  
</ion-content>
